<form class="form-horizontal" role="form" ng-submit="updateBand()">
<div class="container">
  <div class="form-group">
    <label for="name" class="col-sm-2 control-label">Name</label>
    <div class="col-sm-10">
      <input type="text" ng-model="band.name" class="form-control" id="name" placeholder="Name"/>
    </div>
  </div>
  <div class="form-group">
    <label for="description" class="col-sm-2 control-label">Description</label>
    <div class="col-sm-10">
      <input type="text" ng-model="band.description" class="form-control" id="description" placeholder="Description"/>
    </div>
  </div>

  <div class="form-group">
    <label for="genre" class="col-sm-2 control-label">Genre</label>
    <div class="col-sm-10">
      <ui-select id="genre" multiple ng-model="band.genres" theme="select2" style="width: 800px;">
        <ui-select-match placeholder="Select Genre...">{{$item.name}}</ui-select-match>
        <ui-select-choices repeat="genre in availableGenres   | propsFilter: {name: $select.search}">
          <span ng-bind-html="genre.name | highlight: $select.search"></span><img src="{{genreImgPath + genre.slug + '.jpg'}}" />
        </ui-select-choices>
      </ui-select>
      <p>Selected: {{band.genres}}</p>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <input type="submit" class="btn btn-primary" value="Save"/>
      </div>
    </div>
  </div>
</div>
</form>