<div class="container">
  <div class="panel">
    <div class="row multi-columns-row">
      <h4>Bands Searching For Musicians:</h4>
      <div data-ng-repeat="item in items" class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
        <div class="row multi-columns-row">
          <div class="association-item">
            <div class="association-image">
              <a href="item.id">

              </a>
            </div>
            <div class="association-info">
              <ul>
                <li class="association-project-name">{{ item.name }}</li>


                <li class="read-more"><a href="item.id" class="btn">Read more</a></li>
              </ul>
            </div>
            <br>
            <div>
              <button type="button"
                  class="btn btn-primary">Request Audition
              </button>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>