<div id="navbar" class="navbar navbar-default" role="navigation">
  <div class="navbar-inner">
    <ul class="nav navbar-nav">
      <li icon="fa fa-list" class="first">
        <a href="/home">
          <i class="fa fa-list"/>
          Home</a>
      </li>
      <li icon="fa fa-music">
        <a href="/musician">
          <i class="fa fa-music"/>
          Musicians </a>
      </li>
      <li icon="fa fa-group" class="last">
        <a href="/band/">
          <i class="fa fa-group"/>
          Bands </a>
      </li>
    </ul>
    <ul class="nav pull-right">
      <li icon="icon-user" class="current_ancestor first last dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <i class="icon-user"></i>
          Hi Visitor <b class="caret"></b>
        </a>
        <ul class="menu_level_1 dropdown-menu">
          <li icon="fa fa-sign-in" class="active first last">
            <a ng-click="launch('login')">
              <i class="fa fa-sign-in"></i>
              Login </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>